@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #f9f9f9;
}

.overflow-hidden {
    overflow: hidden;
}


@font-face {
    font-family: 'BLOND';
    src: url('../fonts/blonde.otf');
}

@font-face {
    font-family: 'ROBOTO-REGULAR';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'ROBOTO-BOLD';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'ROBOTO-BLACK';
    src: url('../fonts/Roboto-Black.ttf');
}

