@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #F8F2E9;
    /* background-image: url('../images/noise.svg');
    height: 100vh; */
    padding: 0;
    margin: 0;
}

.overflow-hidden {
    overflow: hidden;
}


@font-face {
    font-family: 'PP-NEUE-MONTREAL-BOLD';
    src: url('../fonts/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: 'BLOND';
    src: url('../fonts/blonde.otf');
}

@font-face {
    font-family: 'OSWALD';
    src: url('../fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'OPEN-SANS';
    src: url('../fonts/OpenSans-Light.ttf');
}

